.body{
    font-size: 16px;
    background-color:#e89229;
}
section.tecnologias{
    background-color: aliceblue;
}
form{
    background-color: rgb(163, 125, 125);
    border-radius: 16px;
    color:#000;
    font-size: 12px;
}
footer{
    text-align: center;
}
ul.navbar-nav{
    text-align: center;
}