
<div class="jumbotron">
    <form>
        <div class="form-group">
        <h2>Entre em contato</h2>
        <label for="name">Nome</label>
        <input type="name" class="form-control" id="name" placeholder="Seu nome?">
        <label for="email">E-mail</label>

        <input type="email" class="form-control" id="email" placeholder="Seu email?">

        <label for="telefone">Telefone</label>
        <input type="number" class="form-control" id="number" placeholder="Seu número?">

        <label for="telefone">Campo</label>
<textarea class="form-control">Digite su pergunta ou dúvida</textarea>
        <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
    </div>
    <footer>
        &copy; Todos os direitos reservado 2020
        <div class="col-md-4">
            <a href="" class="btn btn-outline-dark">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="btn btn-outline-dark">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="btn btn-outline-dark">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        </footer>
    </body>
    </html>