<section class="tecnologias">
    
    <h1>Tainá Miranda</h1>
    <p>Sobre as tecnologias</p>
    <div class="container2">
        <div class="row">
    <div class="col-sm-4">
        <img src="Img/node-js.jpeg" class="rounded float-left" width="300px">
        <span>NodeJs</span>
    </div>

    <div class="col-sm-4">
        <img src="Img/java.jpeg" class="rounded float-right" width="200px">
        <span>Javascript</span>
        </div>

        <div class="col-sm-4">
        <img src="Img/html.jpeg" class="rounded float-left" width="300px">
        <span>Html5 e css3</span>
        </div>

        <div class="col-sm-4">
        <img src="Img/database.jpeg" class="rounded float-right" width="200px">
        <span>Mysql</span>
        </div>
        <div class="col-sm-4">
            <img src="Img/bootstrap.jpeg" class="rounded float-left" width="200px">
              <span>Bootstrap 4 <strong>Framework</strong></span>
              </div>
  
              <div class="col-sm-4">
              <img src="Img/express.jpeg" class="rounded float-right" width="200px">
              <span>Express <strong>Framework</strong></span>
              </div>
  
          </div>   
          </div>
      </section>
      <section>
          <p>Estudante de sistemas de infromação com interesse
               em atuar como <strong>Devenvolvedora web junior e aceito trabalhos como freelance</strong> na área de senvolvimento  web.</p>
  
           <li>Criação de sites e web site</li>  
           <a href="github.com/tainamiranda2/pizzaria" >Site para uma pizzaria </a>
          </br>
           <a href="github.com/tainamiranda2/projeto-clone-sportify" >Site clone do sportify</a>
      </br>
      <a href="github.com/tainamiranda2/site-vendas" >Site para vendas de quelquer produto </a>
  
           <li>Criação de sistemas web</li> 
           <a href="github.com/tainamiranda2/guia" >Sistema de perguntas e respostas </a>
  
      </section>